# Untuk koneksi backend Docker/WSL ke database Laragon di Windows.
# Ambil IP Windows dari dalam WSL:
# ip route | awk '/default/ {print $3}'
DOCKER_DB_HOST=host.docker.internal
DOCKER_DB_PORT=3306
DOCKER_DB_DATABASE=vocaseek
DOCKER_DB_USERNAME=vocaseek_user
DOCKER_DB_PASSWORD=vocaseek_pass
BACKEND_PORT=8001
